<div class="nav-con">
    <div class="logocom">
        <img src="../image/cf-logo.webp" alt=""> 
        <div class="txt">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div> 
    <ul>
        <li >
                <div class="pack">

                    <div className="logo"><i class="fa-solid fa-house"></i></div>
                    <p>Home</p>  
                </div>
        </li>
        <li class="active">
            <div class="pack">

                <div className="logo"><i class="fa-solid fa-border-all"></i></div>
                <p>Overview</p>  
            </div>
    </li>
    <li>
        <div class="pack">

            <div className="logo"><i class="fa-regular fa-file"></i></div>
            <p>Content</p>  
        </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-comment"></i></div>
        <p>Social Media</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-regular fa-envelope"></i></div>
        <p>Email Marketing</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-chart-simple"></i></div>
        <p>Advertising</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-arrows-turn-to-dots"></i></div>
        <p>Customer Aquisition</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-gear"></i></div>
        <p>Customer Retention</p>  
    </div>
</li><li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-file-waveform"></i></i></div>
        <p>Customer Goals</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-file-signature"></i></div>
        <p>Report</p>  
    </div>
</li>
<li>
    <div class="pack">

        <div className="logo"><i class="fa-solid fa-gear"></i></div>
        <p>Setings</p>  
    </div>
</li>
<li>
    <div class="pack">
        <div className="logo"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
        <p>Logout</p>  
    </div>
</li>
    </ul>
</div>
