<div class="topsec">
    <div class="txt">
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <div class="txt">
        <i class="fa-solid fa-bell"></i>
    </div>
    <label for="pro-tog">
    <div class="txt">
        <i class="fa-solid fa-arrow-right"></i>
    </div>
    </label>


</div>
<div class="profsec">
    <div class="topl">
        <h3>Pratyush Gupta</h3>
        <p>Manager</p>
        <div class="pack">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Logout</p>
        </div>
    </div>
        <div class="propic">
            <img style="height: 40px; width: 40px;"  src="/image/icon-dark.png" alt="">
        </div>
</div>

<div class="profsec">
    <div class="topl">
        <p>churn rate</p>
        <h3>7%</h3>
    </div>
    <div class="propic-1">
        <img style="height: 40px; width: 40px;"  src="/image/icon-dark.png" alt="">
    </div>

</div>
<div class="profsec">
    <div class="topl">
        <p>churn rate</p>
        <h3>7%</h3>
    </div>
    <div class="propic-1">
        <img style="height: 40px; width: 40px;"  src="/image/icon-dark.png" alt="">
    </div>

</div>
<div class="task-sec">
    <h1>Alert</h1>

    <div class="crdfrm">
        <div class="pack">
            <i class="fa-brands fa-squarespace"></i>
            <p>Social Buzz</p>

        </div>
        <p>Brands are popular because they sells customers.</p>
    </div>
    <div class="crdfrm">
        <div class="pack">
            <i class="fa-brands fa-squarespace"></i>
            <p>Social Buzz</p>

        </div>
        <p>Brands are popular because they sells customers.</p>
    </div>

    <div class="crdfrm">
        <div class="pack">
            <i class="fa-brands fa-squarespace"></i>
            <p>Social Buzz</p>

        </div>
        <p>Brands are popular because they sells customers.</p>
    </div>

    
</div>